[submodule ".registry"]
	path = .registry
	url = https://github.com/tanho63/universe
	branch = HEAD
[submodule "aoc.elf"]
	path = aoc.elf
	url = https://github.com/tanho63/aoc.elf
[submodule "fivestars"]
	path = fivestars
	url = https://github.com/tanho63/fivestars
[submodule "glouton"]
	path = glouton
	url = https://github.com/tanho63/glouton
[submodule "joker"]
	path = joker
	url = https://github.com/tanho63/joker
[submodule "mobileCharts"]
	path = mobileCharts
	url = https://github.com/tanho63/mobileCharts
[submodule "shinyMobile"]
	path = shinyMobile
	url = https://github.com/tanho63/shinyMobile
[submodule "tantastic"]
	path = tantastic
	url = https://github.com/tanho63/tantastic
