[submodule ".registry"]
	path = .registry
	url = https://github.com/tanho63/universe
	shallow = true
	branch = HEAD
[submodule "tanmisc"]
	path = tanmisc
	url = https://github.com/tanho63/tanmisc
	shallow = true
	registered = true
[submodule "joker"]
	path = joker
	url = https://github.com/tanho63/joker
	shallow = true
	registered = true
[submodule "ffscrapr"]
	path = ffscrapr
	url = https://github.com/dynastyprocess/ffscrapr
	shallow = true
	branch = dev
	registered = true
[submodule "fpscrapr"]
	path = fpscrapr
	url = https://github.com/dynastyprocess/fpscrapr
	shallow = true
	registered = true
[submodule "ffexpectedpoints"]
	path = ffexpectedpoints
	url = https://github.com/dynastyprocess/ffexpectedpoints
	shallow = true
	registered = true
